/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
:root {
    --green1: #2EC775;
    --green2: #026B33;
    --green3: #044740;
  }
.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 20px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
p{
    width: 100%;
    float: left;
    font-size: 14px;
}

section{
    padding: 80px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.btn{
    min-width: 120px;
    padding: 15px 30px;
    font-size: 14px;
    display: inline-block;
}
.btn:hover{
    cursor: pointer;
}
.btn-primary{
    background: var(--green2);
    color: #fff;
    border: none;
}
.btn-secondary{
    background: none;
    border: 2px solid var(--green2);
    color: var(--green2);
}

*{
    font-family: 'Lato', sans-serif;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.top-header{
    position: relative;
    height: 40px;
    padding: 0;
    margin-top: 0;
}
.top-header .column{
    padding-top: 0;
    padding-bottom: 0;
}
.top-header::before{
    content: "";
    width: 100vw;
    height: 100%;
    background: var(--green2);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.top-header p{
    color: #fff;
    font-size: 12px;
    padding: 9px 0;
}
.src-form{
    width: 100%;
    float: left;
    position: relative;
}
.src-form input{
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    color: #fff;
    font-size: 12px;
    padding-right: 60px;
}
.src-form input:focus{
    outline: none;
}
.src-form button{
    border: none;
    background: none;
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-header{
    height: 77px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
.bottom-header .column{
    padding-top: 0;
    padding-bottom: 0;
}
.bottom-header::before{
    content: "";
    width: calc(100% - 120px);
    height: 1px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    right: 0;
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-menu{
    width: calc(100% - 120px);
    margin-left: 20px;
    float: left;
}
.nav-item{
    float: left;
}
.nav-item a{
    display: block;
    padding: 30px 20px 27px;
    line-height: 100%;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,0);
}
.nav-item.active a,
.nav-item a:hover{
    border-color: #31C174;
    color: #31C174;
}

.social-bt{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 5px;
    margin: 17px 4px 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.bottom-header::after{
    content: "";
    width: 100vw;
    height: 77px;
    background: var(--green3);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled .bottom-header::after{
    opacity: 1;
}

.hero{
    padding: 0;
}
.hero-slider .item{
    height: 800px;
}
.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero .text{
    margin-top: 300px;
}
.hero .text h3{
    color: #fff;
}
.hero .text h1{
    color: var(--green1);
    margin-bottom: 10px;
}
.hero .text p{
    color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
    line-height: 200%;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover{
    opacity: 1;
}
.hero-slider .owl-prev{
    left: 20px;
    background: url(../images/left.png) no-repeat center;
}
.hero-slider .owl-next{
    right: 20px;
    background: url(../images/right.png) no-repeat center;
}

.product{
    background: var(--green3) url(../images/product-bg.jpg) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 0;
}
.product .text h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.product .thumb-group{
    margin-top: 40px;
}
.product .thumb{
    display: inline-block;
    width: 50%;
}
.product .thumb-group .column:nth-child(odd) .thumb{
    transform: translateY(-90px);
}
.product .item{
    width: 100%;
    float: left;
    margin-bottom: 60px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.8);
    position: relative;
}
.product .item span{
    position: relative;
}
.product .item h5{
    margin-bottom: -10px;
}
.product .text-left{
    padding-right: 40px;
}
.product .text-right{
    padding-left: 40px;
}

.product .text-left .item::before,
.product .text-right .item::before{
    content: "";
    width: 80px;
    height: 80px;
    background: #376561;
    border: 12px solid #164E49;
    position: absolute;
    top: -8px;
    z-index: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.product .text-left .item::before{
    right: -40px;
}
.product .text-right .item::before{
    left: -40px;
}
.product .text-left .item::after,
.product .text-right .item::after{
    content: "";
    width: 30px;
    height: 7px;
    background: #164E49;
    position: absolute;
    top: calc(50% - 3px);
}
.product .text-left .item::after{
    right: -70px;
}
.product .text-right .item::after{
    left: -70px;
}

.installation{
    background: var(--green3) url(../images/installation-bg.png) no-repeat center top;
    background-size: contain;
    padding-top: 260px;
}

.img-grid{
    width: 100%;
    float: left;
    position: relative;
}
.img-grid .grid-item{
    float: left;
}
.img-grid.grid-4 .grid-item{
    width: 25%;
}

.moment{
    background: var(--green3);
    padding-bottom: 0;
}

.moment-nav{
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #fff;
}
.moment-nav a{
    color: #fff;
}
.moment-nav img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px -15px 10px;
}

.bf-card a{
    color: #333;
}
.bf-card figure{
    margin-bottom: 20px;
}
.bf-card .meta-info{
    font-size: 14px;
    color: #777;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.bf-card h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.bf-card p{
    font-size: 14px;
    color: #555;
}

.maps-section{
    padding-bottom: 0;
    padding-top: 0;
}
.maps{
    width: 100%;
    height: 450px;
    float: left;
    position: relative;
}
.maps iframe{
    width: 100%;
    height: 100%;
}

footer{
    background: var(--green3);
    padding: 80px 0 0;
}
footer p,
footer a{
    color: rgba(255,255,255,0.8);
    font-size: 14px;
}
footer p{
    margin-bottom: 15px;
    position: relative;
}
footer p i{
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 2px;
    color: var(--green1);
}
footer h4{
    margin-bottom: 20px;
}
.subs-form{
    width: 100%;
    float: left;
    position: relative;
}
.subs-form input{
    width: 100%;
    float: left;
    height: 50px;
    padding: 0 20px;
    border: 1px solid rgba(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    background: none;
}
.subs-form input:focus{
    outline: none;
    border-color: var(--green1);
}
.subs-form button{
    padding: 10px 0;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 2px;
    right: 2px;
    min-width: 0;
}
.copyright.columns{
    margin-bottom: 0;
    margin-top: 80px;
    position: relative;
}
.copyright.columns::before{
    content: "";
    width: 100vw;
    height: 1px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 0;
}
.copyright .column{
    padding: 20px 0;
}
.copyright .column p{
    margin-bottom: 0;
}

.btn-more{
    display: inline-block;
    font-size: 16px;
    color: var(--green2);
    margin-top: 20px;
    font-weight: 700;
}

.page-cover{
    padding-top: 0;
    padding-bottom: 0;
    height: 360px;
}
.page-cover figure{
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.page-cover h2{
    margin-top: 160px;
    font-size: 48px;
    color: var(--green1);
}
.breadcrumb{
    width: 100%;
    float: left;
    color: #fff;
}
.breadcrumb a{
    display: inline-block;
    color: #fff;
}
.page-cover::after{
    content: "";
    width: 100%;
    height: 120px;
    background: url(../images/page-cover-after.png) no-repeat left bottom;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.article figure{
    margin-bottom: 20px;
}
.article h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.article p{
    line-height: 200%;
}
.article .share{
    width: 100%;
    float: left;
    padding: 15px 20px;
    background: #f4f4f4;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: 30px;
}
.article .share h5{
    float: left;
    width: auto;
}
.article .share .social-bt-group{
    float: right;
    margin-top: -3px;
}
.social-bt-group a{
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
}
.social-bt-group a i.fa-facebook{color: #6081C4;}
.social-bt-group a i.fa-twitter{color: #43BDF0;}
.social-bt-group a i.fa-whatsapp{color: #23B17F;}
.social-bt-group a i.fa-telegram{color: #2697CF;}
.social-bt-group a i.fa-link{color: #1D8BAB;}

.sejarah{
    background: #f4f4f4;
    padding-bottom: 0;
    border-bottom: 3px solid var(--green1);
}
.sejarah-slider .item{
    padding: 0 30px 20px 40px;
    width: 100%;
    float: left;
} 
.sejarah-slider .item::before{
    content: "";
    width: 1px;
    height: 100%;
    background: var(--green1);
    position: absolute;
    left: 10px;
}
.sejarah-card .tahun{
    font-size: 15px;
    font-weight: 700;
    color: var(--green2);
    background: #f4f4f4;
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 0 10px;
    text-align: right;
    transform: translateX(-50%) rotate(-90deg);
}
.sejarah-card .tahun::before{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -8px;
    top: 8px;
    background: var(--green1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.sejarah-card .text{
    background: #fff;
    padding: 20px;
    width: 100%;
    float: left;
}
.sejarah-card:hover .text{
    background: var(--green3);
    color: #fff;
}
.sejarah-card .text h5{
    margin-bottom: 10px;
}
.sejarah-slider .owl-prev,
.sejarah-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.sejarah-slider .owl-prev:hover,
.sejarah-slider .owl-next:hover{
    opacity: 1;
}
.sejarah-slider .owl-prev{
    left: -40px;
    background: url(../images/left.png) no-repeat center;
}
.sejarah-slider .owl-next{
    right: -40px;
    background: url(../images/right.png) no-repeat center;
}

.product-cover{
    padding-bottom: 0;
    padding-top: 220px;
    background: url(../images/page-cover-bg.jpg) no-repeat center;
    background-size: cover;
}
.product-cover img{
    display: block;
}
.product-cover .text h2{
    margin-bottom: 20px;
    color: #fff;
}
.product-cover .text p{
    color: rgba(255,255,255,0.8);
    line-height: 200%;
}

.variant .bf-card figure{
    background: #f4f4f4;
}
.variant .bf-card figure img{
    object-fit: contain;
    width: 80%;
    height: 80%;
}

.dt-product{
    border-bottom: 1px solid #dedede;
}

.dt-product .main-img{
    padding: 0 10% 20% 10%;
}

.mp-group{
    width: 100%;
    float: left;
}
.mp-group a{
    display: inline-block;
    margin: 0 5px;
    width: 120px;
}

.dist-group{
    width: 100%;
    float: left;
    background: url(../images/phone-mockup.png) no-repeat center top;
    background-size: cover;
    padding: 80px 50px 60px;
    position: relative;
}
.dist-group::before{
    content: "";
    width: 657px;
    height: 98px;
    background: url(../images/shadow.png) no-repeat center bottom;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2;
}
.dist-group a{
    width: 100%;
    float: left;
    height: 60px;
    margin: 20px 0;
    position: relative;
}
.dist-group a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.dist-group a:hover img{
    transform: translate(-50%,-50%) scale(1.2);
    -moz-transform: translate(-50%,-50%) scale(1.2);
    -webkit-transform: translate(-50%,-50%) scale(1.2);
}

.offline-dist{
    background: #f4f4f4;
    border-bottom: 1px solid #dedede;
}

.dist-list{
    width: 100%;
    float: left;
}
.dist-header{
    width: 100%;
    float: left;
    padding: 20px 30px;
    background: var(--green2);
    color: #fff;
}
.dist-header h3{
    font-size: 18px;
}
.dist-list ul{
    padding: 0 30px;
    height: 450px;
    width: 100%;
    float: left;
    background: #fff;
    overflow-y: scroll;
}
.dist-list ul li{
    width: 100%;
    float: left;
    padding: 20px 80px 20px 0;
    border-bottom: 1px solid #dedede;
    position: relative;
}
.dist-list ul li:last-child{
    border-bottom: none;
}
.bt-map{
    width: 60px;
    height: 60px;
    background: #f4f4f4;
    text-align: center;
    color: var(--green2);
    position: absolute;
    top: 20px;
    right: 0;
    padding-top: 7px;
}
.bt-map i{
    font-size: 25px;
    width: 100%;
    float: left;
}
.bt-map span{
    font-size: 10px;
}

.dist-map{
    width: 100%;
    float: left;
    position: relative;
}
.points{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.points a{
    position: absolute;
    width: 34px;
    height: 34px;
    overflow: hidden;
    color: #333;
    background: rgba(255,255,255,0);
    padding: 5px 10px;
    transform: translate(-10px,-5px);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.points a i{
    color: #FFA800;
    font-size: 18px;
}
.points a span{
    font-weight: 300;
    margin-left: 5px;
    font-size: 14px;
    color: #333;
    opacity: 0;
}
.points a:hover{
    background: #fff;
    width: auto;
    z-index: 2;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.points a:hover span{
    opacity: 1;
}

.points a.jakarta{
    top: 62%;
    left: 27%;
}
.points a.jawa-barat{
    top: 67%;
    left: 28%;
}
.points a.jawa-tengah{
    top: 66%;
    left: 33%;
}.points a.jawa-timur{
    top: 68%;
    left: 38%;
}
.points a.sulawesi-selatan{
    top: 55%;
    left: 53%;
}

.contact p{
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.contact p i{
    font-size: 18px;
    color: var(--green1);
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    text-align: center;
}
.contact-form label{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px 20px;
    background: #fafafa;
    border: none;
    border-bottom: 1px solid #dedede;
}
.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: var(--green2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.contact::before{
    content: "";
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green3);
}
.contact::after{
    content: "";
    width: 45%;
    position: absolute;
    height: 80px;
    top: -80px;
    left: 0;
    background: url(../images/contact-before.png) no-repeat bottom left;
}
