/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
:root {
    --green1: #2EC775;
    --green2: #026B33;
    --green3: #044740;
  }
.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 20px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
p{
    width: 100%;
    float: left;
    font-size: 14px;
}

section{
    padding: 80px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.btn{
    min-width: 120px;
    padding: 15px 30px;
    font-size: 14px;
    display: inline-block;
}
.btn:hover{
    cursor: pointer;
}
.btn-primary{
    background: var(--green2);
    color: #fff;
    border: none;
}
.btn-primary:hover{
    background: var(--green3);
}
.btn-secondary{
    background: none;
    border: 2px solid var(--green2);
    color: var(--green2);
}

*{
    font-family: 'Lato', sans-serif;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.top-header{
    position: relative;
    height: 40px;
    padding: 0;
    margin-top: 0;
}
.top-header .column{
    padding-top: 0;
    padding-bottom: 0;
}
.top-header::before{
    content: "";
    width: 100vw;
    height: 100%;
    background: var(--green2);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.top-header p{
    color: #fff;
    font-size: 12px;
    padding: 9px 0;
}
.src-form{
    width: 100%;
    float: left;
    position: relative;
}
.src-form input{
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    color: #fff;
    font-size: 12px;
    padding-right: 60px;
}
.src-form input:focus{
    outline: none;
}
.src-form button{
    border: none;
    background: none;
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-header{
    height: 77px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
.bottom-header .column{
    padding-top: 0;
    padding-bottom: 0;
}
.bottom-header::before{
    content: "";
    width: calc(100% - 120px);
    height: 1px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    right: 0;
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-menu{
    width: calc(100% - 120px);
    margin-left: 20px;
    float: left;
}
.nav-item{
    float: left;
    position: relative;
}
.nav-item a{
    display: block;
    padding: 30px 20px 27px;
    line-height: 100%;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,0);
}
.nav-item.active a,
.nav-item a:hover{
    border-color: #31C174;
    color: #31C174;
}
.nav-item a i{
    margin-left: 10px;
}
.nav-item .dropdown{
    width: 360px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px 0;
    opacity: 0;
    pointer-events: none;
}
.nav-item .dropdown a{
    color: #333;
    width: 100%;
    float: left;
    padding: 10px 20px;
    position: relative;
}
.nav-item .dropdown h4{
    padding: 0 20px;
    margin-bottom: 20px;
}
.nav-item .dropdown::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
}
.nav-item:hover .dropdown{
    opacity: 1;
    pointer-events: auto;
}

.social-bt{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 7px;
    margin: 17px 4px 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.bottom-header::after{
    content: "";
    width: 100vw;
    height: 77px;
    background: var(--green3);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled .bottom-header::after{
    opacity: 1;
}

.hero{
    padding: 0;
}
.hero-slider .item{
    height: 800px;
}
.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero .text{
    margin-top: 300px;
}
.hero .text h3{
    color: #fff;
}
.hero .text h1{
    color: var(--green1);
    margin-bottom: 10px;
}
.hero .text p{
    color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
    line-height: 200%;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover{
    opacity: 1;
}
.hero-slider .owl-prev{
    left: 20px;
    background: url(../images/left.png) no-repeat center;
}
.hero-slider .owl-next{
    right: 20px;
    background: url(../images/right.png) no-repeat center;
}

.product{
    background: var(--green3) url(../images/product-bg.jpg) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 0;
}
.tab-group-wrap{
    width: 100%;
    height: 530px;
    position: relative;
}
.tab-group{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.tab-group.show{
    opacity: 1;
    pointer-events: auto;
}
.tab-group figure{
    padding: 0 50px;
    height: 360px;
    position: relative;
}
.tab-group figure img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.tab-group.show figure img{
    opacity: 1;
    width: 100%;
    height: 100%;
}

.product .text h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.product .thumb-group{
    margin-top: 40px;
}
.product .thumb{
    display: inline-block;
    width: 50%;
}
.product .thumb:hover{
    cursor: pointer;
}
.product .thumb-group .column:first-child .thumb,
.product .thumb-group .column:last-child .thumb{
    transform: translateY(-90px);
}
.product .item{
    width: 100%;
    float: left;
    margin-bottom: 60px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.8);
    position: relative;
}
.product .item span{
    position: relative;
}
.product .item h5{
    margin-bottom: -10px;
}
.product .text-left{
    padding-right: 40px;
    transform: translateX(100px);
}
.product .text-right{
    padding-left: 40px;
    transform: translateX(-100px);
}
.product .tab-group.show .text-left,
.product .tab-group.show .text-right{
    transform: translateX(0);
}

.product .text-left .item::before,
.product .text-right .item::before{
    content: "";
    width: 80px;
    height: 80px;
    background: #376561;
    border: 12px solid #164E49;
    position: absolute;
    top: -8px;
    z-index: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.product .text-left .item::before{
    right: -40px;
}
.product .text-right .item::before{
    left: -40px;
}
.product .text-left .item::after,
.product .text-right .item::after{
    content: "";
    width: 30px;
    height: 7px;
    background: #164E49;
    position: absolute;
    top: calc(50% - 3px);
}
.product .text-left .item::after{
    right: -70px;
}
.product .text-right .item::after{
    left: -70px;
}

.installation{
    background: var(--green3) url(../images/installation-bg.png) no-repeat center top;
    background-size: contain;
    padding-top: 260px;
}

.img-grid{
    width: 100%;
    float: left;
    position: relative;
}
.img-grid .grid-item{
    float: left;
}
.img-grid.grid-4 .grid-item{
    width: 25%;
}

.moment{
    background: var(--green3);
    padding-bottom: 0;
}

.moment-nav{
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #fff;
}
.moment-nav a{
    color: #fff;
}
.moment-nav img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px -15px 10px;
}

.bf-card{
    width: 100%;
    float: left;
}
.bf-card a{
    color: #333;
}
.bf-card figure{
    margin-bottom: 20px;
}
.bf-card .meta-info{
    font-size: 14px;
    color: #777;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.bf-card h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.bf-card p{
    font-size: 14px;
    color: #555;
}

.maps-section{
    padding-bottom: 0;
    padding-top: 0;
}
.maps{
    width: 100%;
    height: 450px;
    float: left;
    position: relative;
}
.maps iframe{
    width: 100%;
    height: 100%;
}

footer{
    background: var(--green3);
    padding: 80px 0 0;
}
footer p,
footer a{
    color: rgba(255,255,255,0.8);
    font-size: 14px;
}
footer p{
    margin-bottom: 15px;
    position: relative;
}
footer p i{
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 2px;
    color: var(--green1);
}
footer h4{
    margin-bottom: 20px;
}
.subs-form{
    width: 100%;
    float: left;
    position: relative;
}
.subs-form input{
    width: 100%;
    float: left;
    height: 50px;
    padding: 0 20px;
    border: 1px solid rgba(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    background: none;
}
.subs-form input:focus{
    outline: none;
    border-color: var(--green1);
}
.subs-form button{
    padding: 10px 0;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 2px;
    right: 2px;
    min-width: 0;
}
.copyright.columns{
    margin-bottom: 0;
    margin-top: 80px;
    position: relative;
}
.copyright.columns::before{
    content: "";
    width: 100vw;
    height: 1px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 0;
}
.copyright .column{
    padding: 20px 0;
}
.copyright .column p{
    margin-bottom: 0;
}

.btn-more{
    display: inline-block;
    font-size: 16px;
    color: var(--green2);
    margin-top: 20px;
    font-weight: 700;
}

.page-cover{
    padding-top: 0;
    padding-bottom: 0;
    height: 360px;
    background: var(--green3);
}
.page-cover figure{
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.page-cover figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-cover h2{
    margin-top: 160px;
    font-size: 48px;
    color: var(--green1);
}
.breadcrumb{
    width: 100%;
    float: left;
    color: #fff;
}
.breadcrumb a{
    display: inline-block;
    color: #fff;
}
.page-cover::after{
    content: "";
    width: 100%;
    height: 120px;
    background: url(../images/page-cover-after.png) no-repeat left bottom;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.page-cover.installation-page::after{
    display: none;
}

.article figure{
    margin-bottom: 20px;
}
.article h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.article p{
    line-height: 200%;
}
.article .share{
    width: 100%;
    float: left;
    padding: 15px 20px;
    background: #f4f4f4;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: 30px;
}
.article .share h5{
    float: left;
    width: auto;
}
.article .share .social-bt-group{
    float: right;
    margin-top: -3px;
}
.social-bt-group a{
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
}
.social-bt-group a i.fa-facebook{color: #6081C4;}
.social-bt-group a i.fa-twitter{color: #43BDF0;}
.social-bt-group a i.fa-whatsapp{color: #23B17F;}
.social-bt-group a i.fa-telegram{color: #2697CF;}
.social-bt-group a i.fa-link{color: #1D8BAB;}

.sejarah{
    background: #f4f4f4;
    padding-bottom: 0;
    border-bottom: 3px solid var(--green1);
}
.sejarah-slider{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.sejarah-slider .item{
    padding: 0 30px 20px 40px;
    width: 100%;
    float: left;
} 
.sejarah-slider .item::before{
    content: "";
    width: 1px;
    height: 100%;
    background: var(--green1);
    position: absolute;
    left: 10px;
}
.sejarah-card .tahun{
    font-size: 15px;
    font-weight: 700;
    color: var(--green2);
    background: #f4f4f4;
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 0 10px;
    text-align: right;
    transform: translateX(-50%) rotate(-90deg);
}
.sejarah-card .tahun::before{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -8px;
    top: 8px;
    background: var(--green1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.sejarah-card .text{
    background: #fff;
    padding: 20px;
    width: 100%;
    float: left;
}
.sejarah-card:hover .text{
    background: var(--green3);
    color: #fff;
}
.sejarah-card .text h5{
    margin-bottom: 10px;
}
.sejarah-slider .owl-prev,
.sejarah-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.sejarah-slider .owl-prev:hover,
.sejarah-slider .owl-next:hover{
    opacity: 1;
}
.sejarah-slider .owl-prev{
    left: -40px;
    background: url(../images/left.png) no-repeat center;
}
.sejarah-slider .owl-next{
    right: -40px;
    background: url(../images/right.png) no-repeat center;
}

.product-cover{
    padding-bottom: 0;
    padding-top: 270px;
    background: url(../images/page-cover-bg.jpg) no-repeat center;
    background-size: cover;
}
.product-cover img{
    display: block;
}
.product-cover .text h2{
    margin-bottom: 20px;
    color: #fff;
}
.product-cover .text p{
    color: rgba(255,255,255,0.8);
    line-height: 200%;
}

.variant .bf-card figure{
    background: #f4f4f4;
}
.variant .bf-card figure img{
    object-fit: contain;
    width: 80%;
    height: 80%;
}

.dt-product{
    border-bottom: 1px solid #dedede;
}

.dt-product .main-img{
    padding: 0 10% 20% 10%;
}

.mp-group{
    width: 100%;
    float: left;
}
.mp-group a{
    display: inline-block;
    margin: 0 5px;
    width: 120px;
}

.dist-group{
    width: 100%;
    float: left;
    background: url(../images/phone-mockup.png) no-repeat center top;
    background-size: cover;
    padding: 80px 50px 60px;
    position: relative;
}
.dist-group::before{
    content: "";
    width: 657px;
    height: 98px;
    background: url(../images/shadow.png) no-repeat center bottom;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2;
}
.dist-group a{
    width: 100%;
    float: left;
    height: 60px;
    margin: 20px 0;
    position: relative;
}
.dist-group a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.dist-group a:hover img{
    transform: translate(-50%,-50%) scale(1.2);
    -moz-transform: translate(-50%,-50%) scale(1.2);
    -webkit-transform: translate(-50%,-50%) scale(1.2);
}

.offline-dist{
    background: #f4f4f4;
    border-bottom: 1px solid #dedede;
}

.dist-list{
    width: 100%;
    float: left;
    display: none;
}
.dist-list.show{
    display: block;
}
.dist-header{
    width: 100%;
    float: left;
    padding: 20px 30px;
    background: var(--green2);
    color: #fff;
}
.dist-header h3{
    font-size: 18px;
}
.dist-list ul{
    padding: 0 30px;
    height: 450px;
    width: 100%;
    float: left;
    background: #fff;
    overflow-y: scroll;
}
.dist-list ul li{
    width: 100%;
    float: left;
    padding: 20px 80px 20px 0;
    border-bottom: 1px solid #dedede;
    position: relative;
}
.dist-list ul li:last-child{
    border-bottom: none;
}
.bt-map{
    width: 60px;
    height: 60px;
    background: #f4f4f4;
    text-align: center;
    color: var(--green2);
    position: absolute;
    top: 20px;
    right: 0;
    padding-top: 7px;
}
.bt-map i{
    font-size: 25px;
    width: 100%;
    float: left;
}
.bt-map span{
    font-size: 10px;
}

.dist-map{
    width: 100%;
    float: left;
    position: relative;
}
.points{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.points a{
    position: absolute;
    width: 34px;
    height: 34px;
    overflow: hidden;
    color: #333;
    background: rgba(255,255,255,0);
    padding: 5px 10px;
    transform: translate(-10px,-5px);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.points a i{
    color: #FFA800;
    font-size: 18px;
}
.points a span{
    font-weight: 300;
    margin-left: 5px;
    font-size: 14px;
    color: #333;
    opacity: 0;
}
.points a:hover{
    background: #fff;
    width: auto;
    z-index: 2;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.points a:hover span{
    opacity: 1;
}

.points a.jakarta{
    top: 62%;
    left: 27%;
}
.points a.jawa-barat{
    top: 67%;
    left: 28%;
}
.points a.jawa-tengah{
    top: 66%;
    left: 33%;
}.points a.jawa-timur{
    top: 68%;
    left: 38%;
}
.points a.sulawesi-selatan{
    top: 55%;
    left: 53%;
}

.contact p{
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.contact p i{
    font-size: 18px;
    color: var(--green1);
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    text-align: center;
}
.contact-form label{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px 20px;
    background: #fafafa;
    border: none;
    border-bottom: 1px solid #dedede;
}
.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: var(--green2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.contact::before{
    content: "";
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green3);
}
.contact::after{
    content: "";
    width: 45%;
    position: absolute;
    height: 80px;
    top: -80px;
    left: 0;
    background: url(../images/contact-before.png) no-repeat bottom left;
}

.l-group{
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 2;
}
.logo-group{
    margin-left: -24px;
    z-index: 2;
}
.logo-group a{
    display: inline-block;
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.logo-group a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.foot-social{
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: left;
}
.foot-social a{
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.3);
    padding-top: 6px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.burger-bt{
    width: 40px;
    height: 40px;
    display: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
}

.foot-nav a{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.7);
}
.foot-nav a:hover{
    color: #fff;
}

.installation-dt{
    background: url(../images/installation-cover.png) no-repeat center top;
    background-size: contain;
}


@media only screen and (max-width: 1024px){
    .master{
        overflow-x: hidden;
    }
    .columns{
        padding-left: 20px;
        padding-right: 20px;
    }

    a.logo{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }

    .burger-bt{
        display: inline-block;
    }

    .main-menu{
        position: fixed;
        background: var(--green3);
        top: 167px;
        right: -100%;
        width: 100vw;
        height: calc(100vh - 167px);
        overflow-y: auto;
        padding: 20px 0;
    }
    .nav-item{
        width: 100%;
        float: left;
    }
    .nav-item.active a, .nav-item a:hover{
        border-color: rgba(255,255,255,0);
    }
    .nav-item a{
        padding: 15px 20px;
    }
    .src-form{
        position: fixed;
        top: 117px;
        right: -100%;
        width: 100vw;
        height: 60px;
        background: var(--green3);
        z-index: 2;
        padding: 10px 20px;
    }
    .src-form button{
        right: 20px;
        top: 10px;
    }
    .src-form input{
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    header.show-mob-menu .main-menu,
    header.show-mob-menu .src-form{
        right: 0;
    }
    .bottom-header::before{
        width: 100%;
    }
    .installation{
        padding-top: 100px;
    }

    .hero-slider .item{
        height: 600px;
        position: relative;
    }
    .hero-slider .item .column{
        height: 600px;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    h6{
        10px
    }
    .hero .text{
        margin-top: 0;
        position: absolute;
        left: 20px;
        bottom: 40px;
    }
    .hero-slider .owl-prev,
    .hero-slider .owl-next{
        display: none;
    }
    .hero-slider .owl-pagination{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
        padding: 0 20px;
    }
    .hero-slider .owl-pagination .owl-page{
        display: inline-block;
        margin: 0 3px;
    }
    .hero-slider .owl-pagination .owl-page span{
        display: block;
        width: 6px;
        height: 6px;
        background: rgba(255,255,255,0.3);
    }
    .hero-slider .owl-pagination .owl-page.active span{
        width: 80px;
        background: var(--green1);
    }
    .section-title p{
        margin-top: 20px;
    }
    .installation figure{
        margin-bottom: 20px;
    }
    .bf-card{
        margin-bottom: 20px;
    }

    .img-grid.grid-4 .grid-item{
        width: 50%;
    }

    footer{
        padding-top: 60px;
    }
    footer .columns{
        position: relative;
        width: 100%;
        float: left;
    }
    footer .column{
        width: 100%;
        float: left;
        position: relative;
        top: auto;
    }
    .product .item{
        width: 50%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .product .item span{
        margin-top: 10px;
        display: block;
        width: 100%;
        float: left;
    }
    .product .item::before,
    .product .item::after{
        display: none;
    }

    .tab-group-wrap{
        margin-top: 50px;
    }
    .product .text-left{
        padding-right: 0;
    }
    .product .text-right{
        padding-left: 0;
    }
    .tab-group figure{
        height: 200px;
    }
    .tab-group.show figure img{
        width: 60%;
    }
    .product .thumb{
        width: 100%;
    }
    .product .thumb-group .column:first-child .thumb, .product .thumb-group .column:last-child .thumb{
        transform: translateY(-30px);
    }
    .thumb h4{
        font-size: 10px;
        color: #fff;
    }
    .product{
        padding-bottom: 60px;
    }
    .moment{
        padding-top: 0;
    }
    .moment-nav{
        margin-bottom: 30px;
    }
    .moment-nav a{
        width: 100%;
        float: left;
        margin-top: 5px;
    }
    .moment-nav a img{
        margin-left: 0;
    }
    .moment-nav.has-text-right{
        text-align: left !important;
    }
    .article h1{
        font-size: 24px;
        margin-top: 20px;
    }

    .contact::before,
    .contact::after{
        display: none;
    }
    .contact p{
        color: #333;
    }
    .contact p:last-child{
        margin-bottom: 40px;
    }
    .breadcrumb a{
        font-size: 13px;
    }
    .page-cover h2{
        font-size: 36px;
        margin-top: 180px;
    }
    .dist-group{
        margin-top: 40px;
    }

    .product-cover{
        padding-top: 160px;
    }
    .product-cover .text{
        width: 100%;
        float: left;
        padding: 30px 0;
    }
}